<!doctype html>
<html lang="en" ng-app="icarus">
  <head>
    <meta charset="utf-8">
    <title>icarus</title>
    <link rel="stylesheet" href="/main.css">
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
  </head>
  <body ng-controller="IcarusController">

    <a target="_blank" href="https://github.com/flytenow/icarus">
      <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 999"
        src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
        alt="Fork me on GitHub"
        data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
    </a>

    <div class="container-fluid">

      <div class="row">
        <div class="col-md-12">
          <h1 class="header">icarus</h1>

          <h2 class="subheader">An interactive way to view aviation accident data in the United States.</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2">
          <div class="panel panel-primary controls">
            <div class="panel-heading">
              <b>Controls</b>
            </div>
            <div class="panel-body">
              <form novalidate role="form">
                <div class="form-group">
                  <label>Date Range</label>
                  <slider floor="{{ controls.date.floor }}" ceiling="{{ controls.date.ceil }}" step="1"
                    ng-model="controls.date.low" ng-model-range="controls.date.high" buffer="1"
                    translate-range-fn="_.noop">
                  </slider>
                </div>
                <div class="form-group">
                  <label for="sourceSelect">Data Source</label>
                  <select id="sourceSelect" class="form-control" ng-model="params.source">
                    <option selected></option>
                    <option>NTSB</option>
                    <option>FAA</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="investigationTypeSelect">Investigation Type</label>
                  <select id="investigationTypeSelect" class="form-control" ng-model="params.investigationType"
                    ng-options="item as (item | titlecase ) for item in distinct.investigationType">
                    <option selected></option>
                  </select>
                </div>
                <div class="form-group">
                  <label>Fatalities</label>
                  <slider floor="{{ controls.fatalities.floor }}" ceiling="{{ controls.fatalities.ceil }}" step="1"
                    ng-model="controls.fatalities.low" ng-model-range="controls.fatalities.high" buffer="1"
                    translate-range-fn="_.noop">
                  </slider>
                </div>
                <button type="submit" class="btn btn-primary btn-lg btn-submit" ng-click="query(params)">Submit</button>
              </form>
            </div>
          </div>

          <div class="panel panel-primary">
            <div class="panel-heading">
              <b>Data Utilization</b>
            </div>
            <div class="panel-body">
              <b>{{ activeRows }}</b> of <b>{{ maxRows }}</b> Events Utilized
              <progressbar class="progress-striped" value="dataUtilization" type="primary">
                <b>{{ dataUtilization | number:0 }}%</b>
              </progressbar>
            </div>
          </div>

          <div class="panel panel-primary flytenow-ad">
            <div class="panel-body">
              <a href="//flytenow.com" target="_blank">
                <img src="https://flytenow-public.s3.amazonaws.com/flytenow-logo.png" alt="Flytenow"/>
              </a>
            </div>
          </div>
        </div>

        <div class="col-md-10 graph-wrapper">
          <div class="graph" ng-if="chartDataset">
            <canvas linechart options="chartOptions" data="chartDataset" legend="true"></canvas>
          </div>
        </div>
      </div>
    </div>

    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="/vendor/chartjs/Chart.js"></script>
    <script src="/vendor/angles/angles.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular-touch.min.js"></script>
    <script src="/vendor/venturocket-angular-slider/build/angular-slider.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.js"></script>
    <script src="/app.js"></script>
  </body>
</html>
