@import "../bower_components/bootstrap/less/bootstrap";

@accent: #09d;
@brand-primary: @accent;

.header {
  color: @accent;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.subheader {
  color: @gray-dark;
  text-align: center;
  margin-bottom: 20px;
}

.search-bar {
  width: 50%;
  margin: 50px auto;
}

.graph {
  width: 80%;
  height: 750px;
  margin: 0 auto;
}

